@charset 'UTF-8';

/* button_style */

.btn_blue {
    background-color: #3f51b5;
    border: 1px solid transparent;
    font-size: 12px;
    color: #fff;
}
.btn_ivory {
    background-color: #e7e7e7;
    font-size: 12px;
}
.btn_red {
    background-color: crimson;
    border: 1px solid transparent;
    font-size: 12px;
    color: #fff;
}

/* s-btn */
.s_btn_blue {
    cursor: pointer;
    width: 35px;
    height: 25px;
    background-color: #3f51b5;
    border: 1px solid transparent;
    font-size: 12px;
    color: #fff;
}
.s_btn_ivory {
    cursor: pointer;
    width: 35px;
    height: 25px;
    background-color: #e7e7e7;
    font-size: 12px;
}
.s_btn_red {
    cursor: pointer;
    width: 35px;
    height: 25px;
    background-color: crimson;
    border: 1px solid transparent;
    font-size: 12px;
    color: #fff;
}
.s_btn_gray {
    cursor: pointer;
    width: 35px;
    height: 25px;
    background-color: #ddd;
    border: 1px solid transparent;
    font-size: 12px;
}

/* 게시글 및 사원수 등 표시 버튼 */
.total_list_btn {
    border-radius: 5px;
    background-color: #565e8c;
    padding: 6px 7px;
    color: #fff;
    
}
.left_radius_btn {
    background-color: #9eacc6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 5px;
    
}
.right_radius_btn {
    background-color: #ededed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 6px 5px;