@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-type */
.noto { /* 한글 */
    font-family: 'Noto Sans KR', sans-serif;
}
.roboto { /* 영어 */
    font-family: 'Roboto', sans-serif;
}

/* font-size */
.font_12 {
    font-size: 12px;
}
.font_14 {
    font-size: 14px;
}
.font_16 {
    font-size: 16px;
}
.font_18 {
    font-size: 18px;
}
.font_20 {
    font-size: 20px;
}

/* font-weight */
.weight-n {
    font-weight: normal;
}
.weight_100 {
    font-weight: 100;
}
.weight_300 {
    font-weight: 300;
}
.weight_400 {
    font-weight: 400;
}
.weight_500 {
    font-weight: 500;
}
.weight_700 {
    font-weight: 700;
}
.weight_900 {
    font-weight: 900;
}

/* font-color */
.white {
    color: #fff;
}
.ivory {
    color: #EBEBEB;
}
.blue_1 {
    color: #223390;;
}
.blue_2 {
    color: #2F409F;
}
.blue_3 {
    color:  #3F51B5;
}
.blue_4 {
    color: #5E6DC2;
}

/* h1 - h5 */
h1, h2, h3, h4, h5 {
    letter-spacing: -1px;
}

/* background-color */
.bg_white {
    background-color: #fff;
}
.bg_ivory {
    background-color: #EBEBEB;
}
.bg_blue_1 {
    background-color: #223390;;
}
.bg_blue_2 {
    background-color: #2F409F;
}
.bg_blue_3 {
    background-color:  #3F51B5;
}
.bg_blue_4 {
    background-color: #5E6DC2;
}

/* flex */
.flex {
    display: flex;
}
.space_between {
    justify-content: space-between;
}
.flex_vc {
    align-items: center;
}
.flex_hc {
    justify-content: center;
}
.v_middle {
    vertical-align:middle;
}

/* float */
.float_l {
    float: left;
}
.float_r {
    float: right;
}
.clearfix {
    clear: both;
}

/* margin */
.m_2 {
    margin: 2px;
}
.m_3 {
    margin: 3px;
}
.m_4 {
    margin: 4px;
}
.m_5 {
    margin: 5px;
}
.m_6 {
    margin: 6px;
}
.m_7 {
    margin: 7px;
}
.m_8 {
    margin: 8px;
}
.m_9 {
    margin: 9px;
}
.m_10 {
    margin: 10px;
}
.m_11 {
    margin: 11px;
}
.m_12 {
    margin: 12px;
}
.m_13 {
    margin: 13px;
}
.m_14 {
    margin: 14px;
}
.m_15 {
    margin: 2px;
}
.m_20 {
    margin: 20px;
}
.m_25 {
    margin: 25px;
}
.m_30 {
    margin: 30px;
}

/* margin-left */
.m_l2 {
    margin-left: 2px;
}
.m_l3 {
    margin-left: 3px;
}
.m_l4 {
    margin-left: 4px;
}
.m_l5 {
    margin-left: 5px;
}
.m_l6 {
    margin-left: 6px;
}
.m_l7 {
    margin-left: 7px;
}
.m_l8 {
    margin-left: 8px;
}
.m_l9 {
    margin-left: 9px;
}
.m_l10 {
    margin-left: 10px;
}
.m_l11 {
    margin-left: 11px;
}
.m_l12 {
    margin-left: 12px;
}
.m_l13 {
    margin-left: 13px;
}
.m_l14 {
    margin-left: 14px;
}
.m_l15 {
    margin-left: 2px;
}
.m_l20 {
    margin-left: 20px;
}
.m_l25 {
    margin-left: 25px;
}
.m_l30 {
    margin-left: 30px;
}

/* margin-right */
.m_r2 {
    margin-right: 2px;
}
.m_r3 {
    margin-right: 3px;
}
.m_r4 {
    margin-right: 4px;
}
.m_r5 {
    margin-right: 5px;
}
.m_r6 {
    margin-right: 6px;
}
.m_r7 {
    margin-right: 7px;
}
.m_r8 {
    margin-right: 8px;
}
.m_r9 {
    margin-right: 9px;
}
.m_r10 {
    margin-right: 10px;
}
.m_r11 {
    margin-right: 11px;
}
.m_r12 {
    margin-right: 12px;
}
.m_r13 {
    margin-right: 13px;
}
.m_r14 {
    margin-right: 14px;
}
.m_r15 {
    margin-right: 2px;
}
.m_r20 {
    margin-right: 20px;
}
.m_r25 {
    margin-right: 25px;
}
.m_r30 {
    margin-right: 30px;
}

/* margin-top */
.m_t2 {
    margin-top: 2px;
}
.m_t3 {
    margin-top: 3px;
}
.m_t4 {
    margin-top: 4px;
}
.m_t5 {
    margin-top: 5px;
}
.m_t6 {
    margin-top: 6px;
}
.m_t7 {
    margin-top: 7px;
}
.m_t8 {
    margin-top: 8px;
}
.m_t9 {
    margin-top: 9px;
}
.m_t10 {
    margin-top: 10px;
}
.m_t11 {
    margin-top: 11px;
}
.m_t12 {
    margin-top: 12px;
}
.m_t13 {
    margin-top: 13px;
}
.m_t14 {
    margin-top: 14px;
}
.m_t15 {
    margin-top: 2px;
}
.m_t20 {
    margin-top: 20px;
}
.m_t25 {
    margin-top: 25px;
}
.m_t30 {
    margin-top: 30px;
}

/* margin-bottom */
.m_b2 {
    margin-bottom: 2px;
}
.m_b3 {
    margin-bottom: 3px;
}
.m_b4 {
    margin-bottom: 4px;
}
.m_b5 {
    margin-bottom: 5px;
}
.m_b6 {
    margin-bottom: 6px;
}
.m_b7 {
    margin-bottom: 7px;
}
.m_b8 {
    margin-bottom: 8px;
}
.m_b9 {
    margin-bottom: 9px;
}
.m_b10 {
    margin-bottom: 10px;
}
.m_b11 {
    margin-bottom: 11px;
}
.m_b12 {
    margin-bottom: 12px;
}
.m_b13 {
    margin-bottom: 13px;
}
.m_b14 {
    margin-bottom: 14px;
}
.m_b15 {
    margin-bottom: 2px;
}
.m_b20 {
    margin-bottom: 20px;
}
.m_b25 {
    margin-bottom: 25px;
}
.m_b30 {
    margin-bottom: 30px;
}

/* margin-top-bottom */
.m_tb2 {
    margin-bottom: 2px;
    margin-top: 2px;
}
.m_tb3 {
    margin-bottom: 3px;
    margin-top: 3px;
}
.m_tb4 {
    margin-bottom: 4px;
    margin-top: 4px;
}
.m_tb5 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.m_tb6 {
    margin-bottom: 6px;
    margin-top: 6px;
}
.m_tb7 {
    margin-bottom: 7px;
    margin-top: 7px;
}
.m_tb8 {
    margin-bottom: 8px;
    margin-top: 8px;
}
.m_tb9 {
    margin-bottom: 9px;
    margin-top: 9px;
}
.m_tb10 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.m_tb11 {
    margin-bottom: 11px;
    margin-top: 11px;
}
.m_tb12 {
    margin-bottom: 12px;
    margin-top: 12px;
}
.m_tb13 {
    margin-bottom: 13px;
    margin-top: 13px;
}
.m_tb14 {
    margin-bottom: 14px;
    margin-top: 14px;
}
.m_tb15 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.m_tb20 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.m_tb25 {
    margin-bottom: 25px;
    margin-top: 25px;
}
.m_tb30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* margin-left-right */
.m_lr2 {
    margin-left: 2px;
    margin-right: 2px;
}
.m_lr3 {
    margin-left: 3px;
    margin-right: 3px;
}
.m_lr4 {
    margin-left: 4px;
    margin-right: 4px;
}
.m_lr5 {
    margin-left: 5px;
    margin-right: 5px;
}
.m_lr6 {
    margin-left: 6px;
    margin-right: 6px;
}
.m_lr7 {
    margin-left: 7px;
    margin-right: 7px;
}
.m_lr8 {
    margin-left: 8px;
    margin-right: 8px;
}
.m_lr9 {
    margin-left: 9px;
    margin-right: 9px;
}
.m_lr10 {
    margin-left: 10px;
    margin-right: 10px;
}
.m_lr11 {
    margin-left: 11px;
    margin-right: 11px;
}
.m_lr12 {
    margin-left: 12px;
    margin-right: 12px;
}
.m_lr13 {
    margin-left: 13px;
    margin-right: 13px;
}
.m_lr14 {
    margin-left: 14px;
    margin-right: 14px;
}
.m_lr15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m_lr20 {
    margin-left: 20px;
    margin-right: 20px;
}
.m_lr25 {
    margin-left: 25px;
    margin-right: 25px;
}
.m_lr30 {
    margin-left: 30px;
    margin-right: 30px;
}


/* padding */
.p_2 {
    padding: 2px;
}
.p_3 {
    padding: 3px;
}
.p_4 {
    padding: 4px;
}
.p_5 {
    padding: 5px;
}
.p_6 {
    padding: 6px;
}
.p_7 {
    padding: 7px;
}
.p_8 {
    padding: 8px;
}
.p_9 {
    padding: 9px;
}
.p_10 {
    padding: 10px;
}
.p_11 {
    padding: 11px;
}
.p_12 {
    padding: 12px;
}
.p_13 {
    padding: 13px;
}
.p_14 {
    padding: 14px;
}
.p_15 {
    padding: 2px;
}
.p_20 {
    padding: 20px;
}
.p_25 {
    padding: 25px;
}
.p_30 {
    padding: 30px;
}

/* padding-left */
.p_l2 {
    padding-left: 2px;
}
.p_l3 {
    padding-left: 3px;
}
.p_l4 {
    padding-left: 4px;
}
.p_l5 {
    padding-left: 5px;
}
.p_l6 {
    padding-left: 6px;
}
.p_l7 {
    padding-left: 7px;
}
.p_l8 {
    padding-left: 8px;
}
.p_l9 {
    padding-left: 9px;
}
.p_l10 {
    padding-left: 10px;
}
.p_l11 {
    padding-left: 11px;
}
.p_l12 {
    padding-left: 12px;
}
.p_l13 {
    padding-left: 13px;
}
.p_l14 {
    padding-left: 14px;
}
.p_l15 {
    padding-left: 2px;
}
.p_l20 {
    padding-left: 20px;
}
.p_l25 {
    padding-left: 25px;
}
.p_l30 {
    padding-left: 30px;
}

/* padding-right */
.p_r2 {
    padding-right: 2px;
}
.p_r3 {
    padding-right: 3px;
}
.p_r4 {
    padding-right: 4px;
}
.p_r5 {
    padding-right: 5px;
}
.p_r6 {
    padding-right: 6px;
}
.p_r7 {
    padding-right: 7px;
}
.p_r8 {
    padding-right: 8px;
}
.p_r9 {
    padding-right: 9px;
}
.p_r10 {
    padding-right: 10px;
}
.p_r11 {
    padding-right: 11px;
}
.p_r12 {
    padding-right: 12px;
}
.p_r13 {
    padding-right: 13px;
}
.p_r14 {
    padding-right: 14px;
}
.p_r15 {
    padding-right: 2px;
}
.p_r20 {
    padding-right: 20px;
}
.p_r25 {
    padding-right: 25px;
}
.p_r30 {
    padding-right: 30px;
}

/* padding-top */
.p_t2 {
    padding-top: 2px;
}
.p_t3 {
    padding-top: 3px;
}
.p_t4 {
    padding-top: 4px;
}
.p_t5 {
    padding-top: 5px;
}
.p_t6 {
    padding-top: 6px;
}
.p_t7 {
    padding-top: 7px;
}
.p_t8 {
    padding-top: 8px;
}
.p_t9 {
    padding-top: 9px;
}
.p_t10 {
    padding-top: 10px;
}
.p_t11 {
    padding-top: 11px;
}
.p_t12 {
    padding-top: 12px;
}
.p_t13 {
    padding-top: 13px;
}
.p_t14 {
    padding-top: 14px;
}
.p_t15 {
    padding-top: 2px;
}
.p_t20 {
    padding-top: 20px;
}
.p_t25 {
    padding-top: 25px;
}
.p_t30 {
    padding-top: 30px;
}

/* padding-bottom */
.p_b2 {
    padding-bottom: 2px;
}
.p_b3 {
    padding-bottom: 3px;
}
.p_b4 {
    padding-bottom: 4px;
}
.p_b5 {
    padding-bottom: 5px;
}
.p_b6 {
    padding-bottom: 6px;
}
.p_b7 {
    padding-bottom: 7px;
}
.p_b8 {
    padding-bottom: 8px;
}
.p_b9 {
    padding-bottom: 9px;
}
.p_b10 {
    padding-bottom: 10px;
}
.p_b11 {
    padding-bottom: 11px;
}
.p_b12 {
    padding-bottom: 12px;
}
.p_b13 {
    padding-bottom: 13px;
}
.p_b14 {
    padding-bottom: 14px;
}
.p_b15 {
    padding-bottom: 2px;
}
.p_b20 {
    padding-bottom: 20px;
}
.p_b25 {
    padding-bottom: 25px;
}
.p_b30 {
    padding-bottom: 30px;
}

/* padding-top-bottom */
.p_tb2 {
    padding-bottom: 2px;
    padding-top: 2px;
}
.p_tb3 {
    padding-bottom: 3px;
    padding-top: 3px;
}
.p_tb4 {
    padding-bottom: 4px;
    padding-top: 4px;
}
.p_tb5 {
    padding-bottom: 5px;
    padding-top: 5px;
}
.p_tb6 {
    padding-bottom: 6px;
    padding-top: 6px;
}
.p_tb7 {
    padding-bottom: 7px;
    padding-top: 7px;
}
.p_tb8 {
    padding-bottom: 8px;
    padding-top: 8px;
}
.p_tb9 {
    padding-bottom: 9px;
    padding-top: 9px;
}
.p_tb10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.p_tb11 {
    padding-bottom: 11px;
    padding-top: 11px;
}
.p_tb12 {
    padding-bottom: 12px;
    padding-top: 12px;
}
.p_tb13 {
    padding-bottom: 13px;
    padding-top: 13px;
}
.p_tb14 {
    padding-bottom: 14px;
    padding-top: 14px;
}
.p_tb15 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.p_tb20 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.p_tb25 {
    padding-bottom: 25px;
    padding-top: 25px;
}
.p_tb30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* padding-left-right */
.p_lr2 {
    padding-left: 2px;
    padding-right: 2px;
}
.p_lr3 {
    padding-left: 3px;
    padding-right: 3px;
}
.p_lr4 {
    padding-left: 4px;
    padding-right: 4px;
}
.p_lr5 {
    padding-left: 5px;
    padding-right: 5px;
}
.p_lr6 {
    padding-left: 6px;
    padding-right: 6px;
}
.p_lr7 {
    padding-left: 7px;
    padding-right: 7px;
}
.p_lr8 {
    padding-left: 8px;
    padding-right: 8px;
}
.p_lr9 {
    padding-left: 9px;
    padding-right: 9px;
}
.p_lr10 {
    padding-left: 10px;
    padding-right: 10px;
}
.p_lr11 {
    padding-left: 11px;
    padding-right: 11px;
}
.p_lr12 {
    padding-left: 12px;
    padding-right: 12px;
}
.p_lr13 {
    padding-left: 13px;
    padding-right: 13px;
}
.p_lr14 {
    padding-left: 14px;
    padding-right: 14px;
}
.p_lr15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p_lr20 {
    padding-left: 20px;
    padding-right: 20px;
}
.p_lr25 {
    padding-left: 25px;
    padding-right: 25px;
}
.p_lr30 {
    padding-left: 30px;
    padding-right: 30px;
}

/* vertical-align */
.v_middle{
    vertical-align: middle;
}

/* text-align */
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

/* a */
a {
    color: #000;
}
.under {
    text-decoration: underline;
    color: #000;
}

/* footer 하단고정 */
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    color: #877787;
}