@charset 'utf_8';

.title{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #3f51b5;
}
td {
    border:1px solid #d6dce7;
}

/* .board_list{
    border: 1px solid #ccc;
    line-height: 2;
    padding: 10px;
    width: 20%;
} */

.board_list td{
    border: 1px solid #000;
}

.board_list tr:nth-child(2n-1){
    font-weight: 700;
    text-align: center;
    background-color: #eee;
}

.board_list tr:nth-child(2n) td{
    padding: 10px;
    line-height: 2;
}

.btn_write{
    cursor: pointer;
    height: 35px;
    color: #3f51b5;
    border: 1px solid #3f51b5;
    border-radius: 2px;
    background-color: #fff;
    padding: 0 10px;
}


/* page_grp */
.page {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background-color: #fff;
    font-weight: normal;
}

.page:hover {
    background-color: #3f51b5;
}

.page:hover a {
    color: #fff;
}