@charset 'utf_8';

button, input, select {
    font-size: 12px;
    height: 30px;
    font-weight: normal;
}

.search_cal{
    position: relative;
}

.search_cal i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #959595;
}
