@charset 'UTF-8';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;      /* 2줄표시 X */
    width: 100%;
    border: 0;
    outline: 0;
}

/* 외곽선 표시 X */
input, select {
    outline: transparent;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}