<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- type 실제 경로  alias 별명 -->
		<typeAlias type="com.example.project.model.MemberVO" alias="membervo" />
		<typeAlias type="com.example.project.model.BuseoVO" alias="buseovo" />
		<typeAlias type="com.example.project.model.GradeVO" alias="gradevo" />	
		<typeAlias type="com.example.project.model.BoardVO" alias="boardvo" />	
	</typeAliases>
</configuration>






