<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">

	<select id="chkCnt" resultType="int"> 
		SELECT COUNT(*) FROM company
	</select>
	
	<select id="getCompanyInfo" resultType="companyvo">
		SELECT 
			com_num			AS comNum,
			com_name		AS comName,
			com_name_eng	AS comNameEng,
			com_ceo			AS comCeo,
			com_type		AS comType,
			com_item		AS comItem,
			com_post		AS comPost,
			com_address		AS comAddress,
			com_tel			AS comTel,
			com_cp			AS comCp,
			com_fax			AS comFax,
			com_opendate	AS comOpendate,
			com_erpdate		AS comErpdate,
			com_corp_num	AS comCorpNum,
			com_email		AS comEmail,
			com_url			AS comUrl,
			com_auth		AS comAuth,
			com_logo		AS comLogo,
			com_sublogo		AS comSublogo,
			com_web_menu	AS comWebMenu,
			com_web_menu_url AS comWebMenuUrl,
			com_web_top		AS comWebTop,
			com_web_bottom	AS comWebBottom,
			com_web_copyright AS comWebCopyright,
			com_ceo_img		AS comCeoImg,
			com_stamp_img	AS comStampImg,
			com_ceo_stamp_img AS comCeoStampImg,
			com_ceo_sign_img AS comCeoSignImg 
		FROM company LIMIT 1
	</select>
	
	<insert id="setCompanyInfo" parameterType="companyvo">
		INSERT INTO company SET 
			com_num			= #{comNum},
			com_name		= #{comName},
			com_name_eng	= #{comNameEng},
			com_ceo			= #{comCeo},
			com_type		= #{comType},
			com_item		= #{comItem},
			com_post		= #{comPost},
			com_address		= #{comAddress},
			com_tel			= #{comTel},
			com_cp			= #{comCp},
			com_fax			= #{comFax},
			com_opendate	= #{comOpendate},
			com_erpdate		= #{comErpdate},
			com_corp_num	= #{comCorpNum},
			com_email		= #{comEmail},
			com_url			= #{comUrl},
			com_auth		= #{comAuth},
			com_logo		= #{comLogo},
			com_sublogo		= #{comSublogo},
			com_web_menu	= #{comWebMenu},
			com_web_menu_url = #{comWebMenuUrl},
			com_web_top		= #{comWebTop},
			com_web_bottom	= #{comWebBottom},
			com_web_copyright =#{comWebCopyright},
			com_ceo_img		= #{comCeoImg},
			com_stamp_img	= #{comStampImg},
			com_ceo_stamp_img = #{comCeoStampImg},
			com_ceo_sign_img = #{comCeoSignImg} 
	</insert>
	
	<update id="updateCompanyInfo" parameterType="companyvo" >
		UPDATE company SET 
			com_num			= #{comNum},
			com_name		= #{comName},
			com_name_eng	= #{comNameEng},
			com_ceo			= #{comCeo},
			com_type		= #{comType},
			com_item		= #{comItem},
			com_post		= #{comPost},
			com_address		= #{comAddress},
			com_tel			= #{comTel},
			com_cp			= #{comCp},
			com_fax			= #{comFax},
			com_opendate	= #{comOpendate},
			com_erpdate		= #{comErpdate},
			com_corp_num	= #{comCorpNum},
			com_email		= #{comEmail},
			com_url			= #{comUrl},
			com_auth		= #{comAuth},
			com_logo		= #{comLogo},
			com_sublogo		= #{comSublogo},
			com_web_menu	= #{comWebMenu},
			com_web_menu_url = #{comWebMenuUrl},
			com_web_top		= #{comWebTop},
			com_web_bottom	= #{comWebBottom},
			com_web_copyright =#{comWebCopyright},
			com_ceo_img		= #{comCeoImg},
			com_stamp_img	= #{comStampImg},
			com_ceo_stamp_img = #{comCeoStampImg},
			com_ceo_sign_img = #{comCeoSignImg}
	</update>

</mapper>