<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workcenter">
<insert id="setworkcenter" parameterType="workcentervo" >
	INSERT INTO workcenter SET 
		wc_name = #{wcName},
		wc_usage = #{wcUsage},
		wc_area = #{wcArea},
		wc_floor = #{wcFloor},
		wc_post = #{wcPost},
		wc_address = #{wcAddress},
		wc_contractFromDate = #{wcContractFromDate},
		wc_contractToDate = #{wcContractToDate},
		wc_contract = #{wcContract},
		emp_id_fk = #{empIdFk}
</insert>

<select id="getworkcenterList" resultType="workcentervo" parameterType="hashmap">
	SELECT 
		wc_id AS wcId,
		wc_name AS wcName,
		wc_usage AS wcUsage,
		wc_area AS wcArea,
		wc_floor AS wcFloor,
		wc_post AS wcPost,
		wc_address AS wcAddress,
		wc_contractFromDate AS wcContractFromDate,
		wc_contractToDate AS wcContractToDate,
		wc_contract AS wcContract,
		emp_id_fk AS empIdF,
		emp_name AS empName,
		emp_num AS empNum,
		(SELECT depart_name FROM department LEFT JOIN employee ON depart_code = emp_department WHERE emp_id = emp_id_fk) AS empDepartmentName,
		(SELECT position_name FROM position LEFT JOIN employee ON position_code = emp_position WHERE emp_id = emp_id_fk) AS empPositionName 
	FROM workcenter 
	LEFT JOIN employee ON emp_id_fk = emp_id 
	ORDER BY wcId DESC LIMIT #{startIndex}, #{pageSize}
</select>

<select id="count" resultType="int">
 SELECT COUNT(*) FROM workcenter 
</select>

<delete id="setworkcenterDel" parameterType="int">
	DELETE FROM workcenter WHERE wc_id = #{wcId}
</delete>

</mapper>