<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="client">

	<insert id="setClientOne" parameterType="clientvo">
		<selectKey keyProperty="ref" order="BEFORE" resultType="int">
			SELECT IFNULL( max(client_id) + 1 , 1 ) FROM client
		</selectKey>
		INSERT INTO client SET 
			client_code 				= CONCAT(#{clientCode},#{ref}),
			client_use_state 			= #{clientUseState},
			client_company 				= #{clientCompany},
			client_license_num 			= #{clientLicenseNum},
			client_ceo_name				= #{clientCeoName},
			client_business_condition	= #{clientBusinessCondition},
			client_business_type 		= #{clientBusinessType},
			client_regdate 				= #{clientRegdate},
			client_company_phone 		= #{clientCompanyPhone},
			client_company_Fax 			= #{clientCompanyFax},
			client_company_page 		= #{clientCompanyPage},
			client_post					= #{clientPost},
			client_address 				= #{clientAddress},
			client_nation 				= #{clientNation},
			client_detail_address 		= #{clientDetailAddress},
			client_responsibility 		= #{clientResponsibility},
			client_res_cp 				= #{clientResCp},
			client_res_email 			= #{clientResEmail},
			client_payment_type 		= #{clientPaymentType},
			client_handling 			= #{clientHandling},
			client_note 				= #{clientNote},
			client_tax_email 			= #{clientTaxEmail},
			client_tax_responsibility	= #{clientTaxResponsibility},
			client_tax_company_phone 	= #{clientTaxCompanyPhone}
	</insert>
	
	<select id="getClients" resultType="clientvo">
		SELECT 
			client_license_num AS clientLicenseNum,
			client_company AS clientCompany,
			client_ceo_name AS clientCeoName,
			client_company_phone AS clientCompanyPhone,
			client_company_fax AS clientCompanyFax,
			client_business_condition AS clientBusinessCondition,
			client_business_type AS clientBusinessType,
			client_note AS clientNote 
		FROM client
	</select>

</mapper>