<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salary">

	<sql id="searchCondition">
		<choose>
			<when test="searchDate == ''"></when>
			<when test="words == ''"> AND salary_date = #{searchDate} </when>
			<otherwise>
				AND ${searchOpt} LIKE CONCAT('%', #{words}, '%') AND salary_date = #{searchDate} 
			</otherwise>
		</choose>
	</sql>

	<insert id="setSalaryAll" parameterType="hashmap">
		INSERT INTO salary SET 
			salary_date 		= 	#{toDate}, 
			emp_id_fk 			= 	${empId}, 
			emp_position_fk 	= 	#{empPosition}, 
			emp_step_fk			= 	#{empStep}, 
			emp_headcheck_fk 	= 	#{empHeadcheck}, 

			salary_pay_fk 		= 	#{salaryPay}, 
			
			net_pay_fk 				=	#{netPay},
			salary_nps_fk 			=	#{salaryNps},
			salary_h_insurance_fk 	=	#{salaryHInsurance},
			salary_care_fk 			=	#{salaryCare},
			salary_e_insurance_fk 	=	#{salaryEInsurance},
			salary_income_fk 		=	#{salaryIncome},
			salary_l_income_fk 		=	#{salaryLIncome},
			salary_totalcost_fk 	=	#{salaryTotalcost} 
	</insert>

	<select id="sqlaryCntChk" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM salary WHERE salary_date = #{toDate}
	</select>
	<select id="getSalaryPayInfo" parameterType="String" resultType="int">
		SELECT salary_pay FROM salary_base WHERE position_code_fk = #{empPosition}
	</select>
	<select id="getSalaryTaxInfo" parameterType="int" resultType="salaryvo">
		SELECT 
			net_pay 			AS netPay, 
			salary_nps 			AS salaryNps, 
			salary_h_insurance 	AS salaryHInsurance, 
			salary_care 		AS salaryCare, 
			salary_e_insurance 	AS salaryEInsurance, 
			salary_income 		AS salaryIncome, 
			salary_l_income 	AS salaryLIncome, 
			salary_totalcost 	AS salaryTotalcost  
		FROM salary_calculation WHERE starting_range = ${salaryPay}
	</select>
	<select id="getMonthSalaryList" parameterType="hashmap" resultType="salaryvo">
		SELECT 
			sform_id 			AS sformId, 
			salary_date 		AS salaryDate, 
			emp_num 			AS empNum, 
			emp_name 			AS empName, 
			(SELECT depart_name FROM department WHERE depart_code = emp_department)  		AS empDepartmentName, 
			(SELECT position_name FROM position WHERE position_code = emp_position)  		AS empPositionName, 
			emp_step_fk			AS empStep, 
			emp_headcheck_fk 	AS empHeadcheck, 
			
			salary_pay_fk 		AS salaryPay, 
			
			net_pay_fk 				AS netPay,
			salary_nps_fk 			AS salaryNps,
			salary_h_insurance_fk 	AS salaryHInsurance,
			salary_care_fk 			AS salaryCare,
			salary_e_insurance_fk 	AS salaryEInsurance,
			salary_income_fk 		AS salaryIncome,
			salary_l_income_fk 		AS salaryLIncome,
			salary_totalcost_fk 	AS salaryTotalcost 
			
		FROM salary LEFT JOIN salary_base ON emp_position_fk = position_code_fk 
					LEFT JOIN employee ON emp_id_fk = emp_id 
		WHERE emp_num != 'admin' <include refid="searchCondition"></include>
	</select>
	<select id="getMonthSalaryOne" parameterType="int" resultType="salaryvo">
		SELECT 
			sform_id 			AS sformId, 
			salary_date 		AS salaryDate, 
			emp_num 			AS empNum, 
			emp_name 			AS empName, 
			(SELECT depart_name FROM department WHERE depart_code = emp_department)  		AS empDepartmentName, 
			(SELECT position_name FROM position WHERE position_code = emp_position)  		AS empPositionName, 
			emp_enter 			AS empEnter, 
			emp_step_fk			AS empStep, 
			emp_headcheck_fk 	AS empHeadcheck, 
			
			salary_pay_fk 		AS salaryPay, 
			
			net_pay_fk 				AS netPay,
			salary_nps_fk 			AS salaryNps,
			salary_h_insurance_fk 	AS salaryHInsurance,
			salary_care_fk 			AS salaryCare,
			salary_e_insurance_fk 	AS salaryEInsurance,
			salary_income_fk 		AS salaryIncome,
			salary_l_income_fk 		AS salaryLIncome,
			salary_totalcost_fk 	AS salaryTotalcost 
			
		FROM salary LEFT JOIN salary_base ON emp_position_fk = position_code_fk 
					LEFT JOIN employee ON emp_id_fk = emp_id 
					WHERE sform_id = ${sformId}; 
	</select>
	<select id="getSalarayTaxList" resultType="salaryvo">
		SELECT 
			salary_id			AS salaryId,
			starting_range 		AS startingRange,
			end_range 			AS endRange,
			net_pay 			AS netPay,
			salary_nps 			AS salaryNps,
			salary_h_insurance 	AS salaryHInsurance,
			salary_care 		AS salaryCare,
			salary_e_insurance 	AS salaryEInsurance,
			salary_income 		AS salaryIncome,
			salary_l_income 	AS salaryLIncome,
			salary_totalcost 	AS salaryTotalcost 
		FROM salary_calculation 
	</select>
	
	<update id="setSalaryTaxList" parameterType="salaryvo">
		UPDATE salary_calculation SET 
			net_pay				=	#{netPay},
			salary_nps 			=	#{salaryNps},
			salary_h_insurance 	=	#{salaryHInsurance},
			salary_care 		=	#{salaryCare},
			salary_e_insurance 	=	#{salaryEInsurance},
			salary_income 		=	#{salaryIncome},
			salary_l_income 	=	#{salaryLIncome},
			salary_totalcost 	=	#{salaryTotalcost} 
		WHERE salary_id = #{salaryId} 
	</update>

	<delete id="deleteSalaryTaxList" parameterType="salaryvo">
		DELETE FROM salary_calculation 
		WHERE salary_id = #{salaryId} 
	</delete>

</mapper>