@charset 'utf-8';

.title{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #3f51b5;
}

/* .board_list{
    border: 1px solid #ccc;
    line-height: 2;
    padding: 10px;
    width: 20%;
} */

.board_name{
	text-align: left;
	background-color:#f00; 
}
	
.board_list td{
    border: 1px solid #000;
}


