@charset 'utf_8';

.input_radio{
    width:15px;
    height:15px;
    margin: 3px auto;
}

.search_cal{
    position: relative;
}

.search_cal input{
    padding-left: 25px;
    width: 100%;
    font-size:12px;
}

.search_cal i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #959595;
}