<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.portfolio.erp.model.employee.EmployeeVO" alias="employeevo" />
		<typeAlias type="com.portfolio.erp.model.product.ProductVO" alias="productvo" />
		<typeAlias type="com.portfolio.erp.model.client.ClientVO" alias="clientvo" />
		<typeAlias type="com.portfolio.erp.model.salary.SalaryVO" alias="salaryvo" />
	</typeAliases>
</configuration>