<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attend">
	
	<!-- 출근시간 입력하기 , curdate() : 2020-01-01 / now() : 2020-01-01 08:00:00 -->
	<insert id="setStarttime" parameterType="attendvo">
		INSERT INTO attendance SET 
			attend_workdate		= curdate(),
			attend_starttime	= now(),
			attend_late		= #{attendLate},
			attend_status 	= 1,
			emp_id_fk		= #{empIdFk} 
	</insert>
	
	<!-- 출근시간을 입력하였는가 -->
	<select id="isStarted" parameterType="attendvo" resultType="int">
		SELECT COUNT(attend_starttime) FROM attendance 
		WHERE emp_id_fk = #{empIdFk} AND attend_workdate = #{attendWorkdate} 
	</select>
	
	<!-- 퇴근시간 입력하기 -->
	<update id="setEndtime" parameterType="attendvo">
		UPDATE attendance SET 
			attend_endtime	= now(),
			attend_status	= 2  
		WHERE emp_id_fk	= #{empIdFk} AND attend_workdate = #{attendWorkdate} 
	</update>
	
	<!-- 퇴근시간을 입력하였는가 -->
	<select id="isEnded" parameterType="attendvo" resultType="int">
		SELECT COUNT(attend_endtime) FROM attendance 
		WHERE emp_id_fk = #{empIdFk} AND attend_workdate = #{attendWorkdate} 
	</select>
	
	<!-- 총근무시간/초과시간 업데이트하기 -->
	<update id="setOtherTimes" parameterType="hashmap">
		UPDATE attendance SET 
			attend_overtime 	= #{attendOvertime},
			attend_totaltime 	= #{attendTotaltime} 
		WHERE emp_id_fk = #{empIdFk} AND attend_workdate = #{attendWorkdate} 
	</update>
	
	<!-- 해당회원의 오늘날짜에 해당하는 출퇴근기록이 있는가 -->
	<select id="isDataExists" parameterType="attendvo" resultType="int">
		SELECT COUNT(attend_id) FROM attendance 
		WHERE emp_id_fk = #{empIdFk} AND attend_workdate = #{attendWorkdate} 
	</select>
	
	<!-- 출퇴근시간과 소정근무시간 가져오기 -->
	<select id="getTimes" parameterType="attendvo" resultType="attendvo">
		SELECT 
			attend_starttime 	AS attendStarttime,
			attend_endtime		AS attendEndtime,
			attend_defaulttime AS attendDefaulttime 
		FROM attendance 
		WHERE emp_id_fk = #{empIdFk} AND attend_workdate = #{attendWorkdate} 
	</select>
	
	<!-- (모든)출퇴근기록이 있는가 -->
	<select id="isWorkDatas" resultType="int">
		SELECT count(attend_id) FROM attendance 
	</select>
	
	<!-- (모든)출퇴근기록 가져오기 -->
	<select id="getWorkDatas" resultType="attendvo">
		SELECT 
			attend_id		 		AS attendId,
			attend_workdate 		AS attendWorkdate,
			attend_starttime	 	AS attendStarttime,
			attend_endtime 			AS attendEndtime,
			attend_defaulttime	 	AS attendDefaulttime,
			attend_overtime 		AS attendOvertime,
			attend_totaltime 		AS attendTotaltime,
			attend_late 			AS attendLate,
			attend_workplace 		AS attendWorkplace,
			attend_status 			AS attendStatus,
			emp_id_fk 				AS empIdFk,
			
			emp_name 				AS empName,
			
			depart_name 			AS departName 
		FROM attendance 
		LEFT JOIN employee 		ON 	emp_id_fk 		= emp_id 
		LEFT JOIN department 	ON 	emp_department 	= depart_code 
		ORDER BY attend_id DESC 
	</select>
	
	<update id="changeLate" parameterType="attendvo">
		UPDATE attendance SET 
			attend_late = #{attendLate} 
		WHERE attend_id = #{attendId} 
	</update>
</mapper>